.background-screen {
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #1C1C1C, #494949);
	-fx-padding: 20px;
}

.normal-text {
	-fx-fill: #EAEAEA;
}

.button {
	-fx-text-fill: #EAEAEA;
	-fx-font-weight: 700;
}

.golden-button {
	-fx-background-color: #AD974F;
}

.golden-button:hover {
	-fx-background-color: #8E793E;
}

.normal-button {
	-fx-background-color: transparent;
	-fx-border-color: #EAEAEA;

}

.normal-button:hover {
	-fx-background-color: #292929;
}

.center-screen-box {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-family: 'serif';
	-fx-font-size: 14px;
	-fx-spacing: 7px;
}

.menu-button {
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
	-fx-border-color: #EAEAEA;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.invisible-component {
	visibility: hidden;
}

.header-msg {
	-fx-font-weight: bold;
	-fx-font-size: 25px;
}

.text-field {
	-fx-max-width: 280;
}

/**
 * This section is for Games Module screen.
 */
 
.clue-grid {
	-fx-padding: 20px;
	-fx-spacing: 28px;
	-fx-alignment: baseline-center;
}

/**
 * This section is for solution screen
 */
.solution-text {
	-fx-font-size: 20px;
}

/**
 * This section is for practice module
 */
.category-grid {
	-fx-padding: 20px;
	-fx-hgap: 20px;
	-fx-vgap: 10px;
	-fx-alignment: center;
}

