/**
 * This section is applicable to all GUI screens.
 */
.background-screen {
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #1C1C1C, #494949);
	-fx-padding: 20px;
	-fx-font-family: 'serif';
}

.normal-text {
	-fx-fill: #E0FFFF;
	-fx-font-size: 17px;
}

.information-text {
	-fx-fill: #EAEAEA;
	-fx-font-size: 25px;
}

.header-msg {
	-fx-fill: #EAEAEA;
	-fx-font-weight: bold;
	-fx-font-size: 35px;
}

.center-screen-box {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-size: 17px;
	-fx-spacing: 15px;
}

.menu-button {
    -fx-pref-height: 35px;
    -fx-pref-width: 130px;
	-fx-border-color: #EAEAEA;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-font-size: 17px;
}

.button {
	-fx-text-fill: #EAEAEA;
	-fx-font-weight: 700;
}

.golden-button {
	-fx-background-color: #AD974F;
}

.golden-button:hover {
	-fx-background-color: #8E793E;
}

.non-clickable-button {
	-fx-background-color: transparent;
	-fx-border-color: #EAEAEA;
	-fx-opacity: 0.5;
}

.normal-button {
	-fx-background-color: transparent;
	-fx-border-color: #EAEAEA;
}

.normal-button:hover {
	-fx-background-color: #292929;
}

.invisible-component {
	visibility: hidden;
}

.text-field {
	-fx-max-width: 250;
}

/**
 * This section is for Games Module screen.
 */
 
.clue-grid {
	-fx-padding: 20px;
	-fx-spacing: 35px;
	-fx-alignment: baseline-center;
}

/**
 * This section is for answer screen
 */
 .left-right-box {
 	-fx-min-width: 130px;
 	-fx-max-width: 130px;
 	-fx-max-height: 300px;
 }
 
.sound-box {
	-fx-padding: 20px;
}

.macron-box {
	-fx-border-color: #EAEAEA;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.macron-box:hover {
	-fx-background-color: #292929;
}

.macron-button-box {
	-fx-opacity: 0.1;
	-fx-spacing: 15px;
	
}

.macron-box:hover .macron-button-box {
	-fx-opacity: 1;
}

.macron-box:hover .information-text {
	-fx-opacity: 0;
}

/**
 * This section is for practice module
 */
.category-grid {
	-fx-padding: 20px;
	-fx-hgap: 20px;
	-fx-vgap: 10px;
	-fx-alignment: center;
}

/**
 * This section is for Leader Board screen
 */
 
.table-view:disabled {
	-fx-opacity: 1;
}

.table-view .scroll-bar:vertical .increment-button ,
.table-view .scroll-bar:vertical .decrement-button {
 
    -fx-background-color:transparent;
	-fx-background-radius: 0;
	-fx-padding:0;
}
 
.table-view .scroll-bar:vertical .increment-arrow,
.table-view .scroll-bar:vertical .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;        
}


 
.table-view .column-header-background .label {
	-fx-text-fill: #E0FFFF;
	-fx-font-size: 20px;
	-fx-font-family: 'serif';
	-fx-background-color: transparent;
	-fx-opacity: 1;
}

.table-view .table-column {
	-fx-text-fill: #EAEAEA;
	-fx-font-family: 'serif';
	-fx-font-size: 17px;
	-fx-background-color: #292929;
	-fx-alignment: center;
}
